ul li {
  list-style: none;
  font-size: 30px;
  padding: 1rem;
  cursor: pointer;
  transition: all 300ms ease;
}
ul li:hover {
  background-color: var(--color-red);
  color: var(--color-gray);
}
.icon__X{
  transform: translateX(150px);
  font-size: 40px;
}
@media (min-width: 780px) {
  .icon__X{
    display: none;
  }
}