.header{
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-gray);
  z-index: 10;
}
.header__pageName{
  font-size: 15px;
  padding-left: 1rem;
  color: var(--color-red);
  flex: 1 1;
}
.header__navBar{
  display: flex;
  list-style: none;
  font-size: 25px;
  margin: 0;
  padding: 0;
  flex: 1 1;
}
.header__link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33%;
  border-left: 1px solid var(--color-gray);
}
.header__link a{
  color: var(--color-gray);
}